body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


	font-size: 14px;
	line-height: 1.86;
	color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  padding: 22px 74px;
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
	list-style: none;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}

.welcome {
  background-color: rgb(219, 219, 236); ;
  background-image: url('../img/welcome.jpg');
}


/* main */

.features {

}

.features-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.features-list {
  background-color: #eeeeee;
  text-align: center;
  list-style: none;
}


.card {
  background-color: #81b3d2;
  text-transform: 'uppercase';
  color: #ffffff;
}

.card-gray {
  color: #333333;
  background-color: #eeeeee;
}

.card h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-list {
  list-style: none;
  background-color: #ffffff;
  color: #333333;
  text-align: center;
}

.advantages-list li {

}

.advantages-list h3{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}


.invocation {

}

.invocation-title {

}

.button-look:hover {
  background-color: #604e43;
}

.button-look:active {
  background-color: #503e33;
}

.button-look {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  background-color: #5496bd;
}

.button-find {
	width: 458px;
  height: 58px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
}

.main-map {
	text-align: center;
}

.form {
	text-align: center;
	width: 91px;
  height: 12px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}


/*
footer
*/

.main-footer {
  text-decoration: none;
  list-style: none;
  width: 1200px;
  height: 120px;
  opacity: 0.9;
}

.footer-contacts {
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
}

.social {
  text-decoration: none;
  list-style: none;
}

.copyright {
  font-family: PTSans;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
}


/*страница каталога*/

.hostell:hover {
  color: #81b3d2;
}

.hostell:active {
  color: #CBCBCB;
}

.hostell {
	text-align: left;
}

.proposal {
	text-align: left;
}

.reiting {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-family: PTSans;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
}

.inform {
	text-align: left;
}

.detailed:hover {
  background-color: #669ec0;
}

.detailed:active {
  background-color: #5496bd;
}

.detailed {
	width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;

}

.book:hover {
  background-color: #604e43;
}

.book:active {
  background-color: #503e33;
}

.book {
	width: 142px;
  height: 27px;
  background-color: #766357;
  font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

