body {
    margin: 0;
    padding: 0;

	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
	box-sizing: content-box
}

a {
	text-decoration: none;
}

h2 {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

h3 {
	font-size: 21px;
	line-height: 1;
	text-align: center;
}

p {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

ul {
	list-style: none;
}

.visually-hidden {
	display: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 1.86;
	color: #000000;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header-logo {
	position: absolute;
    top: 0;
	
}

.header.logo {

}

.site-navigation {
	list-style: none;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}

.site-navigation a {
	color: #000000;
	flex-wrap: wrap;
    width: 239px;
    height: 56px;
    padding: 22px 74px;
    font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: white;
}

.fici-list {
	list-style: none;
	flex-wrap: wrap;
}

.fici-list li {
	text-align: center;
	flex-wrap: wrap;
}

.fici-list h3 {
	font-size: 21px;
	line-height: 1;
}

.pluses3 {
	background-color: #eeeeee;
}

.pluses4 {
	background-color: #eeeeee;
}

.pluses5 {
	background-color: #eeeeee;
}

.button-look {
    width: 568px;
    height: 86px;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.button-find {
	width: 458px;
    height: 58px;
    background-color: #81b3d2;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
}

.main-map {
	text-align: center;
}

.form {
	text-align: center;
}

.main-footer {
	text-decoration: none;
	list-style: none;
}

.VISITSEDONA {
    text-align: left;
}

.social {
	text-align: center;
    text-decoration: none;
	list-style: none;
}

.copirait {
	text-align: right;
}

.main-header-logo {
	text-align: center;
}



/*страница каталога*/


.hostell {
	text-align: left;
}

.reiting {
	text-align: right;
}

.reiting1 {
	text-align: right;
}

.inform {
	text-align: left;
}

.detailed {
	width: 110px;
    height: 27px;
    background-color: #81b3d2;
    text-align: left;
    color: #ffffff;
	font-size: 14px;
	line-height: 26px;

}

.book {
	width: 142px;
    height: 27px;
    background-color: #766357;
    text-align: left;
    color: #ffffff;
	font-size: 14px;
	line-height: 26px;
}